<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= pageTitle %> </title>
</head>
<body>
    <h1> <%= pageHeader %></h1>
    <h2> <%= pageFact %></h2>
    <br>
    <br>
    <a href='/country' >Country</a>
    <a href='/capital' >Capital</a>
    <a href="/population" >Population</a>
    <a href='/language' >Language</a>
    <a href='/oceans' >Oceans</a>
    <a href='/family' >Family</a>
    <a href='/food' >Food</a>
    <a href='/cars' >Cars</a>
    <a href='/color' >Colors</a>
    <a href='/pets' >Pets</a>
    <a href='/home' >Home</a> 
</body>
</html>